fastapi==0.103.1
uvicorn==0.23.2
qdrant-client==1.15.0
pydantic==2.3.0
sentence-transformers==2.2.2
python-dotenv==1.0.0
python-multipart==0.0.6
langchain
langchain-community
ollama==0.1.6
httpx
openai
unstructured
tiktoken
pypdf
uuid
numpy
sentence_transformers 
fastembed